*{
    margin: 0px;
    padding: 0px;
}
header{
    background-color: rgb(14, 143, 100);
    width: 100%;
    height: 50px;
}
header h2{
    color: rgb(163, 22, 121);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding: 10px;
    text-align: center;
}
h2:hover{
    color:blanchedalmond;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.row{
    background-color: darkgreen;
    width: 100%;
    height:500px ;
    align-items: center;
    display: flex;
    justify-content: space-around;

}
.col{
    background-color: rgb(50, 112, 50);
    width: 280px;
    height: 450px;
    margin-left: 10px;
}
img{
    height: 200px;
    padding: 10px;
    border-radius: 10%;
}
h4,h5{
    text-align: center;
    color: cornsilk
}
#btn{
    color:rgb(62,62,126);
    background-color:rgb(109, 132, 209);
    padding: 5px;
    margin-left: 100px;
}
footer,p{
  background-color: rgb(82, 148, 202);
  width: 100%;
  height: 50px;
  color: blanchedalmond;
}
h3{
    color: rgb(24,24,95);
    text-align: center;
}
.banner{
   background-image: url(https://i.pinimg.com/originals/67/18/22/671822c2f63dd5f65d8fd15c9710420b.jpg);
   width: 100%;
   height: 500px;
}
.two{
    background-color: rgb(50, 112, 50);
    width: 280px;
    height: 450px;
    margin-left: 10px;
}
.three{
    
        background-color: rgb(50, 112, 50);
        width: 280px;
        height: 450px;
        margin-left: 10px;
    
}
.four{
    
    background-color: rgb(50, 112, 50);
    width: 280px;
    height: 450px;
    margin-left: 10px;

}